{% extends 'base.html.twig' %}

{% block body %}
    <div class="user">
        <div class="user-id">Id: {{ user.id }}</div>
        <div class="user-name">Name: {{ user.name }}</div>
    </div>
{% endblock %}
