{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ label }}</h1>
    {% if posts is defined and posts is not empty %}
        {% for post in posts %}
            <p>{{ post }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
