{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello World</h1>

        {% include 'menu.html.twig' %}

    </div>
    {% trans %}
        Симфони крут
    {% endtrans %}
{% endblock %}
